<body class="container">
    
    <!--브랜드 로고 삽입하기-->
      <a href = "http://store.americanapparel.co.kr/" target="_blank"> 
        <img src="/american.png" alt="AmericanApparel" height="30" width="150"> 
      </a><hr>
    
    <!--URL 입력창-->
    <form action="/home/american_write" method ="POST">
      <div class="form-group">
        <label for="inputURL"> 할인 알림을 원하는 상품의 URL을 입력해주세요</label>
        <input name ="urladdress" type="text" class="form-control" id="urladdressid" placeholder="주소를 입력하세요"
               value = "http://store.americanapparel.co.kr/ko/tie-dye-t-shirt-dress_rsavs3294td?c=Patti%20Tie-Dye">
      </div> 
      <button type="submit" class="btn btn-default">검색하기</button>
    </form>
    
  <!--제품 정보 보여주기-->
  <hr><h4><strong><%= @name %></strong> 의 가격정보입니다.</h4>
  
  <div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <div><img src="<%=@img_src%>" width="350px"></div>
        </div>
        
        <!--상품 정보 보여주기-->
        <div class = "good_info">
          <h2><strong> <%= @name %> </strong></h2></br>
            <table style="width:100%">
                <tr>
                  <td class = "price_label">URL</td>
                  <td class = "good_url"><a href = <% @URL %> target="_blank"><%= @URL %></a></td> 
                </tr>
                <tr>
                  <td class = "price_label">가격</td>
                  <td class = "price_number"><strong> <%= @price %> </strong>원</td> 
                </tr>
            </table>
          <!--table과 button 사이에 공간 만들기: 더 나은 방법 없을까요-->
          <p style = "height: 260px"> </p>  
            
            <div> 
              <%= form_tag "/home/save", method: "post" do %>
                <input type="hidden" name="name" value="<%=@name%>">
                <input type="hidden" name="brand" value="<%=@brand%>">
                <input type="hidden" name="price" value="<%=@price%>">
                <input type="hidden" name="purl" value="<%=@URL%>">
                <input type="hidden" name="ping" value="<%=@img_src%>">
                <input type="hidden" name="code" value="<%=@code%>">
            
                
              <button type="submit" class="bin btn_into_basket"> 할인알림 메일 받기 </button>
              <% end %>
            </div>
        </div>
    </div>
  </div>

</body>

