<body class="container">
    
    <!--브랜드 로고 삽입하기-->
      <a href = "http://www.hm.com/kr/" target="_blank"> 
        <img src="/hnm.png" alt="H&M" width="7%"> 
      </a><hr>
    
    <!--URL 입력창-->
    <form action="/home/hnm_write" method ="POST">
      <div class="form-group">
        <label for="inputURL"> 할인 알림을 원하는 상품의 URL을 입력해주세요</label>
        <input name ="urladdress" type="text" class="form-control" id="urladdressid" placeholder="주소를 입력하세요"
               value = "http://www.hm.com/kr/product/45889?article=45889-B">
      </div> 
      <button type="submit" class="btn btn-default">검색하기</button>
    </form>
    
      <!--제품 정보 보여주기-->
  <hr><h4><strong><%= @name %></strong> 의 가격정보입니다.</h4></br>
  
  <div class="container" style="margin-top: 20px;">
    <div class="row">
        <div class="col-md-4 col-xs-6">
            <div><img src="<%=@img_src%>" width="100%"></div>
        </div>
        <!--상품 정보 보여주기-->
        <div class = "good_info">
          <h2><strong> <%= @name %> </strong></h2></br>
            <p style = "height: 250px">
              <span class = "price_label"> URL </span>
             <span class = "good_url"> <a href = <% @URL %> target="_blank"><%= @URL %></a> </span></br>
              <span class = "price_label">가격 </span>
              <span class = "price_number"><strong> <%=@price %></strong>원</span>
            </p>
            <!--db로 저장하기-->
            <div> 
              <%= form_tag "/home/save", method: "post" do %>
                <input type="hidden" name="pname" value="<%=@name%>">
                <input type="hidden" name="pbrand" value="<%=@brand%>">
                <input type="hidden" name="pprice" value="<%=@price%>">
                <input type="hidden" name="purl" value="<%=@URL%>">
                <input type="hidden" name="pimg" value="<%=@img_src%>">
                <input type="hidden" name="pcode" value="<%=@code%>">
                
              <button type="submit" class="btn btn_into_basket"> 할인알림 메일 받기 </button>
              <% end %>
            </div>
            <!--db로 저장하기 끝 -->
        </div>
    </div>
    
  </div>
    
    
</body>
