<div class="container">
    <h1> H&M가격 읽어오기 </h1>
    
    <form action="/home/hnmwrite" method ="POST">
      <div class="form-group">
        <label for="inputURL">URL을 입력해주세요</label>
        <input name ="urladdress" type="text" class="form-control" id="urladdressid" placeholder="주소를 입력하세요">
      </div> 
      <button type="submit" class="btn btn-default">제출</button>
    </form>
    
 
    <h2><%=@URL%></h2>
    <%=@img%>
    <h3>가격 : <%=@price%></h3>
    <br>
    <h3>제품명 : <%=@name%></h3>
    <br>
    
    <%=form_tag "/home/save", method: "post" do %>
    <input type="hidden" name="pbrand" value=<%=@brand%>>
    <input type="hidden" name="purl" value=<%=@URL%>>
    <input type="hidden" name="pprice" value=<%=@price%>>
    <input type="hidden" name="pname" value=<%=@name%>>
    <input type="hidden" name="pimg" value=<%=@img%>>
    <button class="btn btn-success">메일로 받기</button>
    
    <%end%>
    
    <a href = "/">홈으로가기</a>
    <br>
</div>