<div style="margin-top=5%">
    <h1> Polo가격 읽어오기 </h1>
    <a href = "http://www.ralphlauren.co.kr/" target="_blank">랄프 로렌</a>
    
    <form action="/home/polowrite" method ="POST">
      <div class="form-group">
        <label for="inputURL">URL을 입력해주세요</label>
        <input name ="urladdress" type="text" class="form-control" id="urladdressid" 
              placeholder="주소를 입력하세요" value = "http://www.ralphlauren.co.kr/women/polo/shirts-and-blouses-55/cotton-shirt-1223669/1224562#1463478215614">
      </div> 
      <button type="submit" class="btn btn-default">제출</button>
    </form>
    
    
    <h3>url : <%= @URL %></h3>
    <h3>제품명 : <%= @name %> </h3>
    <h3>가격 : <%= @price %> </h3>
    <br>
    <img src="<%=@img_src%>" width="300"><br>
    <br>
    <!--<h5> <%= @polo_doc %> </h5>-->
  
    <a href = "/home/index">홈으로가기</a>
   <br>
</div>
