<h1>마이페이지</h1>

<%@myinfo.each do |x|%>
<div>
<%=x.user_id%><br>
<%=x.brand%><br>
<%=x.product_name%><br>
<%=x.product_price%><br>
<%=x.product_url%><br>
<a href ="/system/destroy/<%= x.id %>"><span class="label label-danger">Delete</span></a>

</div>
<hr>
<% end %>

<a href="/system/check_all_price">전부 체크하기</a>