
<%= render :partial => "/home/navbar" %>

<div class="container well" style="margin-top:100px">

<div style="margin-left:10px; margin-right:10px;">
<br><br>
<center><h3>할인 알림 목록</h3></center>
<div style="text-align: right"><p><%=@current_user.email%>님의 목록입니다.&nbsp &nbsp</p></div>
</br>

<table class="table">
    <thead>
      <tr>
        <th> No. </th>
        <th> BRAND</th>
        <th> ITEM</th>
        <th> PRICE </th>
        <th> URL </th>
        <th>  </th>
      </tr>
  </thead>



<% @myinfo.each.with_index do |x, index|%>  
  <tbody>
      <tr>
        <th scope="row"><%=index+1%></th>
        <td scope="row">
          <a href = "<%=x.product_url%>" target="_blank">  
            <img src="/<%=x.brand%>.png" height="35%">
          </a>
        </td>  
        <td> <%=x.product_name%> </td>
        <!--<td rowspan="2">  </td>-->
        <td> <%=x.product_price%>원</td>
        <td> 
          <div class="btn-group" role="group" aria-label="...">
          <a href = "<%=x.product_url%>" target="_blank"><span class="label label-default">이동하기</span></a>
          </div>
        </td>
        <td>
          <div class="btn-group" role="group" aria-label="...">
          <a href ="/system/destroy/<%= x.id %>"><span class="label label-danger">삭제하기</span></a>
          </div>
        </td>
      </tr>
   </tbody>

   
  <% end %>
</table> 

      <a href="/system/check_all_price">전부 체크하기</a>

</div> 
      
</div>